.view_continer{
   width: 70%;
   margin: auto;
   margin-top: 20px;
}
.photo_view{
   width: 150px;
   height: 150px;
   object-fit:cover;
   border-radius: 50%;
}
.Name_Container{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.Name_Container h1{
   margin: 0;
   text-transform: capitalize;
}
.name_post{
   margin-left: 30px;
}
.Address_container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
/* button */

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
.view_button_container{
   display: flex;
   width: 300px;
   justify-content: space-between;
}
@media screen and (max-width: 767px) {
   .name_post{
      margin: 0;
   }
   .view_button_container{
      width: 100%
   }
   .photo_view{
      margin: auto;
   }
   .Name_Container{
      flex-direction:column;
   }
}

