

.auth_form{
    width: 40%;
    /* height: 70%;  */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.auth_form h2{
    text-align: center;
}
.auth_form input{
  margin-bottom: 20px;
  width: 70%;
  padding: 6px;
}
.auth_form button{
    width: 74%;
    padding: 6px;
    color: #fff;
    background: #7549F6;
    border: 1px solid;
    border-radius: 4px;
}

