.home_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home_img {
    width: 50%;
    /* height: 70vh; */
}

.home_info h1 {
    margin-left: 0;
}

.home_info {
    width: 400px;

}

.home_button {
    color: aliceblue;
    background-color: #7549F6;
    border: 0;
    padding: 7px 13px;
    font-size: 18px;
    border-radius: 4px;
}

/* @media only screen and (max-width: 600px) {
.home_head{
    flex-wrap: wrap-reverse;
}
.home_img{
    width: 100%;
    height: auto;
}
.home_info{
    width: 100%;
    text-align: center;
}
  } */
@media only screen and (max-width: 768px) {
    .home_head {
        flex-wrap: wrap-reverse;
        width: 90%;
        margin: auto;
    }

    .home_img {
        width: 100%;
        height: auto;
    }

    .home_info {
        width: 100%;
        text-align: center;
    }

}