@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.nav{
    display: flex;
    justify-content:space-between;
    background-color: #7549F6;
}
.nav h3{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    margin:20px;
}
.user_name{
    text-transform: capitalize;
    color: #fff;
}
.nav_content{
    display: flex;
    align-items: center;
}
.nav_content *{
    margin: 10px;
}

.nav_button_container{
    list-style: none;
    display: flex;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: azure;
    background-color: #7549F6;
}
.active_link{
    text-decoration: none;
    background-color: black;
    color: azure;
    background-color: #987de9;
    padding: 4px 8px;
    border-radius: 3px;
}
.nav_auth_button{
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.nav_auth_button li{
    margin: 0 10px;
}
 /* expand search */
.hide{
    display: none;
}
.click_content{
    width: 100%;
}
.serach{
    margin: 0;
    padding: 0;
    width: 95%;
}
.search_input{
    width: 95%;
}
.search_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    display: none;
}
.HemburgBars{
   display: none;
}
.hide{
    display: flex;
}
@media only screen and (max-width: 668px) {

    .HemburgBars{
        height: 30px;
        padding: 13px;
        display: inline-block;
    }
  .nav ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 62px;
      right: 0;
      margin: 0;
      height: 100vh;
      justify-content: flex-start;
      background-color: #fff;
      padding: 0;
  }
  .nav ul  li,.nav ul  li a , .nav ul  li span{
      color: black;
      background-color: transparent;
      text-align: center;
  }
  .nav ul  li{
    border-top: 1px solid;
     margin: 0;
     padding: 10px;
  }
  .hide{
      display: none !important;
  }
}