.nav{
    display: flex;
    justify-content:flex-end;
    background-color: #7549F6;
}
.nav_content{
    display: flex;
    align-items: center;
}
.nav_content *{
    margin: 10px;
}

.nav_button_container{
    list-style: none;
    display: flex;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: azure;
    background-color: #7549F6;
}
.active_link{
    text-decoration: none;
    background-color: black;
    color: azure;
    background-color: #987de9;
    padding: 4px 8px;
    border-radius: 3px;
}
.nav_auth_button{
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.nav_auth_button li{
    margin: 0 10px;
}
 /* expand search */
.hide{
    display: none;
}
.click_content{
    width: 100%;
}
.serach{
    margin: 0;
    padding: 0;
    width: 95%;
}
.search_input{
    width: 95%;
}
.search_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 668px) {
    .nav_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    }
    .nav_content ul *{
        margin: 0;
        
    }
  .nav_button_container{
      display: flex;
      justify-content: space-between;
      padding: 0;
        width: 100%;
  }
  
}