.profile {
  height: 25px;
  width: auto;
  border-radius: 50%;
}

.table {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table th,
td {
  text-align: start;
  border-bottom: 1pt solid gray;
  padding: 10px 5px;
}

.table tr h3 {
  margin: 0;
}

/*  */
.table_nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.table_nav input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  outline: 0;
}

.table_nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 20px;
}

.table_nav ul li {
  margin: 0 10px;
}

.icon {
  color: gray;
}

/* button */
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem .75rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249, 250, 251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.td_button_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* spinner */
@media screen and (max-width: 600px) {

  .resposive_table {
    display: inline;
    border: 0;
  }

  .profile_row {
    align-items: center;
  }

  .table caption {
    display: none;
    font-size: 1.3em;
  }

  .table_nav {
    margin-top: 5px;
  }

  .table_nav input {
    width: 50%;
  }

  .table_nav td {
    padding: 0;
  }

  .table_nav h3 {
    display: none;
  }

  .thead {
    display: none !important;
  }

  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    border: 1px solid;
  }

  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .table td::before {
    /*
     * aria-label has no advantage, it won't be read inside a table
     content: attr(aria-label);
     */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .profile_row {
    display: flex;
    align-items: center;
  }

  .table_nav,
  .table_nav {
    display: block;
  }
}

/* Rsponsieve */
/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinnerB:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}